<h1>{{title}}</h1>

<p>Sign Up It’s quick and easy.</p>

<form id="businessForm">
  <div>
    <label for="name">Company name</label>
    <input type="name" placeholder="Enter your business name" />
  </div>
  <div>
    <label for="userName">Enter username</label>
    <input type="text" placeholder="Choose your username" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" placeholder="Enter your email" />
  </div>
  <div>
    <label for="phone">Contact number</label>
    <input type="number" placeholder="Enter your mobile number" />
  </div>
  <div>
    <label for="education">Job</label>
    <input type="text" placeholder="Enter job description" />
  </div>
  <div>
    <label for="location">Address</label>
    <input type="text" placeholder="Enter the job location" />
  </div>
  <div>
    <label for="role">What kind of employee you are looking for ?</label>
    <select name="role">
      <option value="partTime">Part time</option>
      <option value="fullTime">Full time</option>
    </select>
  </div>
</form>
<button type="submit" form="businessForm" value="Submit">Submit</button>