<h1>{{title}}</h1>

<p>Sign Up It’s quick and easy.</p>

<form id="employeeForm">
  <div>
    <label for="name">First name</label>
    <input type="name" placeholder="Enter your first name" />
  </div>
  <div>
    <label for="name">Last name</label>
    <input type="name" placeholder="Enter your last first name" />
  </div>
  <div>
    <label for="userName">Enter username</label>
    <input type="text" placeholder="Choose your username" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" placeholder="Enter your email" />
  </div>
  <div>
    <label for="phone">Mobile number</label>
    <input type="number" placeholder="Enter your mobile number" />
  </div>
  <div>
    <label for="age">Age</label>
    <input tyep="number" placeholder="Enter your age" />
  </div>
  <div>
    <label for="education">Education</label>
    <input type="text" placeholder="Enter your highest degree/certificate" />
  </div>
  <div>
    <label for="experience">Experience</label>
    <input type="text" placeholder="Enter your latest work experience" />
  </div>
  <div>
    <label for="role">What kind of job you are looking for ?</label>
    <select name="role">
      <option value="partTime">Part time</option>
      <option value="fullTime">Full time</option>
    </select>
  </div>
  <div>
    <button type="submit" form="employeeForm" value="Submit">Submit</button>
  </div>
</form>