<h1>{{title}}</h1>
<p>Welcome to
  {{title}}, its a place where you can meet your dreams in reality. We offer
  services to people who are in search of a job or the one who is searching for
  employees.</p>

<p>To start your journey select one</p>
<form id="login">
  <div>
    <button type="submit" form="login" value="Submit">Login</button>
  </div>
  <div>
    <button type="submit" form="login" value="Submit">Sign up</button>
  </div>
</form>