<form id="login">
  <div>
    <label for="role">Select one</label>
    <select name="role">
      <option value="business">business</option>
      <option value="employee">Employee</option>
    </select>
  </div>
  <div>
    <label for="loginName">Login Id</label>
    <input type="name" placeholder="Enter your login ID" />
  </div>
  <div>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd" />
  </div>
  <div>
    <button type="submit" form="login" value="Submit">Login</button>
  </div>
</form>